.como-ganhar {
    
    .wrapper {
        .Headline {
            height: 30vh;
            padding: 140px 0;
            position: relative;
            width: 100%;
            article {
                color: white;
                text-align: right;
                transform: rotate(-7.92deg);
                
                .C {
                    position: absolute;
                    top: -55px;
                    left: 1000px;
                

                }

                .G {
                    position: absolute;
                    left: 1080px;
                    top: 35px;
                    
                    
                    
                   

                }
            }
        }

        .Element1 {
            height: 30vh;
            padding: 140px 0;
            position: relative;
            article {
                color: white;
                transform: rotate(-4.51deg);
                
                text-align: left;
                h1 {
                    font-size: 350px;
                    color: #78AE4F;
                    position: absolute;
                    top: -59px;
                    left: 39px;
                    transform: rotate(-20.6deg);
                }
                h2 {
                    max-width: 436px;
                    position: absolute;
                    top: -129px;
                    left: 137px;

                }
            }
            
        }

        .Element2 {
            display: flex;
            .ElementLeft {
                img {

                }
            }
            .ElementRight {
                img {
                    position: relative;
                    top: 5px;
                    right: -372px;

                }
                article {
                    h1 {
                        font-size: 350px;
                        position: relative;
                        top: 12px;
                        left: 274px;
                        color: #C30067;
                        transform: rotate(3.58deg);

                    }
                    h2 {
                        max-width: 293.67px;
                        position: relative;
                        top: -107px;
                        left: 437px;
                        color: white;
                        transform: rotate(3.52deg);

                    }
                }
            }
        }

        .Element3 {
            display: flex;
            .ElementLeft {
                width: 50%;
                article {
                    h1 {
                        font-size: 350px;
                        color: #F58529;
                        transform: rotate(-3.32deg);
                        position: relative;
                        top: 129px;
                        left: 125px;


                    }
                    h2 {
                        max-width: 555.55px;
                        color: white;
                        transform: rotate(4.48deg);
                        position: relative;
                        left: 279px;
                    }
                }

            }
            .ElementRight {
                img {
                    position: relative;
                    top: 384px;

                }
                .aviao {
                    position: relative;
                    top: -50px;
                    left: 124px;

                }

            }
        }
        
    }
    .cta_dark{
        margin-left: 38%;
        margin-right: 38%;
         width: 24%;
        background-color: $light-color;
        color: $main-color;
        &:hover{
        color: $light-color;
        background-color: $main-color;
        border-radius: 1px white;
        }
    
    }
}


