.duvidas{
    height: auto;
    .wrapper{
        margin: 40px auto;
        article{
            text-align: center;
            color:$light-color;
            h1{
                font-size: 70px;

            }
            h2{
                font-size: 30px;
            }
            .cta{
                margin: 60px auto;
                padding: 10px ;
            }
        }
    }
}