.footer{

    background-color: $light-color;
    padding: 0.5%;

    *, *:before, *:after {
    box-sizing: border-box;
    }
    
    
    
    .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    }
    
    .footer > * {
    flex:  1 100%;
    }
    
    
    h2 {
    font-weight: 200;
    font-family: 'azo_sansregular';

    font-size: 16px;
    font-family: $main-font;
    text-align: center;
    }
    
   
   
    
    .r-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    }
    
    
    
    
    
    @media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
    }
    
    
 
   
    }
}