.hero {
  
    height: 70vh;
    &[data-full-height="big"]{
        height: 100vh;
    }
    &[data-full-height="small"]{
        height: 30vh;.hero {
    height: 70vh;
    &[data-full-height="big"]{
        height: 100vh;
    }
    &[data-full-height="small"]{
        height: 30vh;
        font-size: 22px;
    }
    .wrapper {
        
        height:100%;
        
        article{
            text-align: center;
            top:50%;
            transform: translateY(-50%);
            position: relative;
          
            h1{
                font-size: 70px;
                color: $light-color;
                text-transform: uppercase;
                margin-bottom: 28px;
            }
            p{
                
                font-size: 25px;
                letter-spacing: 0.05em;
                text-indent: 1px;
                margin-bottom: 28px;
            }
            .btn {
                margin-top: 35px;
            }
        }
    }
}
        .btn {
            display: none;
        }
    }
    .wrapper {
        article{
            text-align: center;
            top:50%;
            transform: translateY(-50%);
            position: relative;
            color: $light-color;
           
            h1{
                font-size: 70px;
                color: $light-color;
                text-transform: uppercase;
                margin-bottom: 28px;
            }
            p{
                
                font-size: 24px;
                letter-spacing: 0.05em;
                text-indent: 1px;
                margin-bottom: 28px;
            }
            .btn {
                margin-top: 35px;
            }
        }
    }
}

.element0{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    article{
        text-align: center;
    }
}

.hero-right{
    width: 440px;
    height: 298px;
    margin: auto;
    max-width: 720px;
}

.hero-left{
    max-width: 720px;

    img{
        max-width: 100%;
    }
}

.img-container {
   
        z-index: -1;
        position: absolute;
        left: 0px;
        top: -35px;
        width: 100%;

    
  
}
