.manifesto{
    background-color: $secondary-color;
  
    .wrapper{
        position: relative;
    overflow: hidden;
        .headline{
            position: relative;
            margin-bottom: 10px;
            .palavra-chave-move{
                
                position: absolute;
                top: 130px;
                left: 350px;
            }
            h1{
                color: $light-color;
                margin-bottom: 100px;
            }
        }
    }
   

}