//MQ
@mixin mq($smallerValue,$biggerValue) {
    @media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
      @content;
    }
  }

@media screen and (max-width: 768px) {
  .como-ganhar {
    .wrapper {
      .Headline {
        article {
          .C {
            width: 100%;
            text-align: center;
  
          }
          .G {
            position: absolute;
            left: 30%;
            top: 35px
          }

        }
        
      }
      .Element 1 {

      }
    }
  }

}