header {
    
    padding-left: 0;
    padding-right: 2%;
    background-color: $main-color;
   
    .wrapper {
        font-size: 0;
        @include mq(0,1024px){
            text-align: center;
        }
        img{
            display:inline-block;
            vertical-align: middle;
            .logo{
                width: 128.6px;
                height: 100%;
            }
           
            @include mq(0,1024px){
                margin-bottom: 20px;
            }
        }
        nav {
            display: inline-block;
            max-width: calc(50%);
            width: 100%;
            vertical-align: right;
          
            @include mq(0,1024px){
                max-width: 100%;
                text-align: center;
            }
           
            &:nth-of-type(2){
                text-align: right;
                @include mq(0,1024px){
                    text-align: center;
                    margin-top: 20px;
                }
            ul {
                li{
                    display: inline-block;
                    font-size: 18px;
                    align-items: flex-start;
                    margin-right: 4%;
                    &:nth-of-type(4){
                        margin-left: 57px;
                    }
                   
                    a {
                        color: $light-color;
                        text-transform: uppercase;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &:nth-of-type(1){
                padding-left: 30px;
            }
            &:nth-of-type(2){
                text-align: right;
                @include mq(0,1024px){
                    text-align: center;
                    margin-top: 20px;
                
                }
            }
                ul{
                    font-size: 0;
                    li{
                        font-size: 18px;
                        vertical-align: middle;
                    
                      
                       
                    }
                }
            }
        }
    }
     }
  
     label {
        margin: 0 40px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }
    #toggle {
        display: none;
  
    }
    

@media only screen and (max-width: 500px) {

    nav{


 
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    
   li {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
}
    #toggle:checked + .menu {
        display: block;
    }
    
}
}







