.premio{
    position: relative;
    background-color: white;
    &:before {
        height: 63px;
        width: 100%;
        top:-31px;
        content: "";
        position: absolute;
        display: block;
        background:url(../img/section_top_divider.png) repeat;

      
    }
    &:after {

     
        height: 63px;
        width: 100%;
        content: "";
        position: absolute;
        bottom: -31px;
        display: block;
        background:url(../img/section_bottom_divider.png) repeat;
        

      
    }
    .cta_dark{
        margin-left: 38%;
        margin-right: 38%;
        width: 24%;
    }
    .wrapper{
        height:100%;

        color: $main-color;
        .premio-tittle{
            display: flex;
            flex-wrap: nowrap;
            margin: 40px auto;
            justify-content: center;



           
           
            .premio-left{
                position: relative;
                margin-right: 250px;
                .color.blue{
                    color: $main-color;
                }
    
            }

            .premio-right{
                display: inline-block; 
                position: relative;

                img{
                    float: right;
                    top: 0;
                    width: auto;
                    
                }
                article{
                    text-align: center;
                    display: inline-block;
                    
                    h2{
                        line-height: 42px;
                        letter-spacing: 0.15em;
                        
                    }
                }
                
              
            }
        }

    }
}

.mexico-images{
    margin: 40px auto;
     align-items: center;
  justify-content: center;

    height: 600px;
    object-fit: cover;
    display: flex;
    img{
        width: 370px;

    }
    .column{
        float: left;
  width: 33.33%;
  padding: 5px;
    }
}
