body{
    font-family: $main-font;
  background-color: $main-color;
   background-image: url(../img/background_web.svg);
   
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
}
    
  

section {
    padding-top: 27px;
    padding-bottom: 27px;
    min-height: 100vh;
    
}

.wrapper {
    max-width: 1440px;
    margin:0 auto;
    height: 100%;
}
h1{
  font-weight: 400;
  font-size: 110px;
  font-family: $tittle-font;
  line-height: 95px;
  text-transform: uppercase;
  transform: rotate(-7.92deg);

}

h2{
  font-family: $main-font;
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;

 
  
 

}

.cta{
  height: 60px;
  background-color: $light-color;
  border-radius: 6px;
  font-family: $main-font;
  font-size: 22px;
  color: $main-color;
  margin-top: 94px;
  text-transform: uppercase;
  outline: none;
    &:hover{
    color: $light-color;
    background-color: $main-color;
    border-radius: 1px white;
    }

    .cta .dark{
      background-color: $main-color;
      color: $light-color;
      &:hover{
        color: $main-color;
        background-color: $light-color;
        border-radius: 1px #222053
        }
    }
  }

  .cta_dark{
    width: 300px;
    height: 60px;
    background-color: $main-color;
    border-radius: 6px;
    font-family: $main-font;
    font-size: 22px;
    color: $light-color;
    margin-top: 68px;
    margin-bottom: 30px;
    text-transform: uppercase;
    outline: none;
   

      &:hover{
        color: $main-color;
          background-color: $light-color;
          border-radius: 1px #222053
      }
  
     
    }

  .light-blue{
    color: $light-main-color;
}

.palavra-chave{
  position:absolute;
  top: 100px;
  left: 180px

}

//RESPONSIVE

img { max-width: 100%; height: auto; }
html { font-size:100%; }

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 