
$main-font: 'azo_sansblack';
$tittle-font: 'hey_octoberregular';



@font-face {
  font-family: 'azo_sansblack';
  src: url('azosans-black-webfont.woff2') format('woff2'),
       url('azosans-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'hey_octoberregular';
  src: url('hey_october-webfont.woff2') format('woff2'),
       url('hey_october-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'azo_sansregular';
  src: url('azosans-regular-webfont.woff2') format('woff2'),
       url('azosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.stroke{
  -webkit-text-stroke: 2px white;
  color: transparent;
    &.blue{
      -webkit-text-stroke: 1px #222053;

    }
}